html, body {
  background-color: #fff7e5;
}

.navigation {

}

.header {
  background-color: #20B2AA;
  color: whitesmoke;
  padding-top: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  height: 150px;
}
.info {
  font-size: 20px;
  text-align: center;
  color: #fff698;
  font-family: serif;
}
.search {
  background-color: #20B2AA;
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
  color: whitesmoke;
}
.search input {
  width: 500px;
  height: 40px;
}
.content {
}
.footer{
  background-color: #0b5c8c;
  margin-bottom: 0;
}