* {
  margin: 0;
}

html, body {
  height: 100%;
  background-color: #fff7e5;
}

.navigation {

}

.page-wrap {
  min-height: 100%;
  margin-bottom: -142px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.header {
  background-color: #20B2AA;
  color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 60px;
  height: 150px;
}
.info {
  font-size: 20px;
  text-align: center;
  color: #fff698;
  font-family: serif;
}
.search {
  background-color: #20B2AA;
  padding: 20px 0;
  margin-bottom: 40px;
  text-align: center;
  color: whitesmoke;
}
.search input {
  width: 500px;
  height: 40px;
}
.content {
}
.site-footer, .page-wrap:after {
  height: 142px;
}
.site-footer {
  background-color: #02778c;
  color: whitesmoke;
  padding-top:30px;
  text-align: center;
  padding-right: 20px;
  font-weight: bold;
}
.browsers {
  text-align: center;
}
.browser {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;

}
.Safari {
  background-image: url("../images/images/logo_safari.png");
}
.Chrome {
  background-image: url("../images/images/logo_chrome.png")
}
.Opera {
  background-image: url("../images/images/logo_opera.png")
}
.Firefox {
  background-image: url("../images/images/logo_firefox.png")
}
.Internet.Explorer {
  background-image: url("../images/images/logo_ie.png")
}
.Microsoft.Edge {
  background-image: url("../images/images/logo_msEdge.png")
}
.versions {
  text-align: center;
  color: #ff684f;
  font-size: 30px;
  padding-top:50px;
  

}
.unknown {
  background-color: red;
}